<div>
  <div *ngIf="!isEdit" class="todo">
    <input type="checkbox" (change)="clickHandlerComplete($event)" />
    <p
      [ngStyle]="{ 'text-decoration': todo.done ? 'line-through' : 'none' }"
      (click)="clickHandlerEdit()"
      [innerHTML]="todo.value | favorite : todo.favorite"
    ></p>
    <button (click)="clickHandlerDelete()">X</button>
    <button (click)="clickHandlerAddToFavorite()">*</button>
  </div>
  <div *ngIf="isEdit" class="todo">
    <input [(ngModel)]="newTodoValue" />
    <button (click)="clickHandlerSave()">save</button>
  </div>
</div>
